html {
  /*  防止在 Window Phone(IE) 和 IOS 横屏字号变化 */
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  /* remove the grey highlight that occurs when you touch an element */
  -webkit-tap-highlight-color: transparent; /* 取消点击元素高亮,如: [ a, button, input, textarea, canvas ] */
}

body {
  -webkit-overflow-scrolling: touch; /* 修正 IOS 系统无法触摸滑动 [IOS 5.0+ browser] */
}

a {
  /* 修正 IOS 8+ 和 Safari 8+ 显示为下划线  [默认显示为空白间隔下划线]
     info: https://developer.mozilla.org/zh-CN/docs/Web/CSS/text-decoration-skip
  */
  -webkit-text-decoration-skip: objects;
}

/**
 * 1. 避免 WebKit bug 破坏原生的 `audio` 和 `video`的控制器  [ 出现在Android 4.0.* ]
 * 2. 修正在IOS 和 Safari「input」 无法点击问题  [ 不可点击的样式类型 ]
 */
button, html [type="button"], /* 1 */
[type="reset"], [type="submit"] {
  -webkit-appearance: button; /* 2 */
}

input, textarea {
  -webkit-appearance: none; /* 清除 IOS 内阴影 [textarea/input[text | email | password | search | number]] */
}

button {
  padding: 0;
  margin: 0;
  background: none;
  border: 0
}

a:active {
  color: inherit
}

strong {
  font-weight: 600
}

pre {
  word-wrap: break-word;
  white-space: pre-wrap
}

hr {
  background: #eee;
  border-color: transparent
}

/*
*  修正 IOS 4-7 display 样式. [ 没有controls属性时,元素显示出来 ]
*/
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * 1. 修正在IOS 和 Safari 无法点击问题  [ 不可点击的样式类型 ]
 * 2. 修正 Safari 字体 `inherit`
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}