@import "commons";

html {
  overflow-y: scroll; /* 修正 浏览器内容高度 小于 页面高度时, 不显示滚动条。[导致页面切换时, 显示异常] */
  -ms-overflow-style: scrollbar; /* 修正 IE 10~11 滚动条悬浮问题  */
}

a {
  background-color: transparent; /* 移除 IE 10 点击链接时灰色背景 [统一默认透明] */
}


/*
* 明确语义，添加语义问号光标.
*/
abbr[title], acronym[title] , dfn[title] {
  cursor: help;
}


pre {
  /* ie 8 max-height　异常
     info :   http://stackoverflow.com/questions/7707/ie8-overflowauto-with-max-height/881597#881597
   */
  overflow: auto; /* or [ max-height: none\9 ] */
}


/* 修正垂直对齐 [Chrome, Firefox, and Opera 默认值不一致] */
progress {
  vertical-align: baseline
}

img {
  border-style: none; /* 移除 IE10 以下默认边框 */
  width: auto\9;      /* 修正 IE8 图片消失bug [设置max-width:100%, ie8 下图片消失了？]
                         演示： http://www.456bereastreet.com/lab/img-max-width
                         [\9 是 Css hack， 它表示只作用于 Internet Explorer 7 - 9] */
  vertical-align: bottom; /* 去除图片底部空隙 [ IE8 以下出现，现代浏览器都已修正 ]  */
}

/**
 * 修正 IE9 [overflow] 异常
 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * 1. 移除 IE 以下默认内边距 [IE 8-10]
 * 2. 修正 box sizing [IE 8-10 为 content-box] [ global static default ]
 */
[type="checkbox"], [type="radio"] {
  padding: 0; /* 1 */
}

/**
 * 修正 IE 和 Edge overflow 为 visible
 */
button, input { /* 1 */
  overflow: visible;
}

/**
 * 修正 button select text-transform 属性继承不一致    [IE 8-11、Firefox、Opera]
 * 所有其他表单控制元素不被继承 text-transform 值
 *    info : http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/
 */
button, select { /* 1 */
  text-transform: none;
}

/* 显示光标 */
label {
  cursor: pointer;
}


/*
  统一点击类型光标
*/
button, html [type="button"], /* 1 */ [type="reset"], [type="submit"] {
  cursor: pointer; /* 3 */
}

/**
* 重置按钮禁用时光标样式 [ 默认为: pointer ]
*/
button[disabled], input[disabled] {
  cursor: default;
}

/**
* 为可拖动元素添加拖动光标
*/
[draggable="true"] {
  cursor: move;
}

legend {
  display: table;  /*  修正 Edge,IE,Firefox 文本包裹问题.  */
  max-width: 100%; /*  修正 Edge,IE,Firefox 文本包裹问题.  */
  white-space: normal; /* 修正中文字体不换行问题 */
  color: inherit; /* [IE 6-9 中颜色不继承] */
  line-height: inherit; /* [IE 6-9 行高不继承] */
}

textarea {
  overflow: auto; /* 移除 IE 默认垂直滚动条 [ IE 6-11 ] */
  resize: vertical; /* ? 移除 IE 默认垂直滚动条 [ IE 6-11 ]*/
}

/**
* 修正 Chrome option 中文字无法显示的问题 [Chrome 30 . 2013 year version]
*/
select:disabled option:checked, option:disabled:checked {
  color: #d2d2d2;
}


/**
 * 移除 Firefox 3+ 的内外边距
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
