/*
 *  desktop: 只针对于 desktop web 程序开发。
 *
*/
html {
  box-sizing: border-box;
  overflow-y: scroll;
  -ms-overflow-style: scrollbar;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  height: 100%;
}

/**
  避免意外
*/

body {
  /* 允许单词换行 [ 避免因单词过长,出现字体跨屏 ]*/
  word-wrap: break-word;

  /* 显示Y轴 [ 避免页面切换时, 显示异常 ] */
  overflow-y: scroll;
}


/*
* 明确语义，添加语义问号光标.
*/
abbr[title], acronym[title] , dfn[title] {
  cursor: help;
}


/**
 * 1. ie 8 max-height　异常
 *      info: http://stackoverflow.com/questions/7707/ie8-overflowauto-with-max-height/881597#881597
 */
pre {
  overflow: auto;   /* 1 or [ max-height: none\9 ] */
  color: inherit;
  background-color: transparent;
}

/**
 * 修正IE 9 以下 display 不为 inline-block.
 */
audio, video ,canvas, output{
  display: inline-block;
}

/**
 * 1. 修正 IE 9 以下 display 样式 [未定义元素默认为 inline-block]
 * 2. 修正垂直对齐 [Chrome, Firefox, and Opera 默认值不一致]
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}



/**
 * 1. 移除 IE10 以下默认边框
 * 2. 支持响应式 [自适应]
 * 3. 修正 IE8 图片消失bug [设置max-width:100%, ie8 下图片消失了？]
 *        演示： http://www.456bereastreet.com/lab/img-max-width/
 * 4. 去除图片底部空隙 [ IE8 以下出现，现代浏览器都已修正, next update delete, backon.css support ie8+]
 */
img {
  border-style: none; /* 1 */
  max-width: 100%; /* 2 */
  width: auto\9;   /* 3 * \9 是 Css hack， 它表示只作用于 Internet Explorer 7 - 9 */
  vertical-align: bottom; /* 4 */
}

/**
 * 修正 IE 和 Edge overflow 为 visible
 */
button, input { /* 1 */
  overflow: visible;
}


/**
 * 修正 button select text-transform 属性继承不一致    [IE 8-11、Firefox、Opera]
 * 所有其他表单控制元素不被继承 text-transform 值
 *    info : http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/
 */
button, select { /* 1 */
  text-transform: none;
}

/**
 * 3. 统一点击类型「input」为光标样式 [ 默认为 : default ]
 */
button, html [type="button"], /* 1 */
[type="reset"], [type="submit"] {
  cursor: pointer; /* 3 */
}

/**
* 重置按钮禁用时光标样式 [ 默认为: pointer ]
*/
button[disabled], input[disabled] {
  cursor: default;
}


/*
* radio/checkbox 不可选时，显示非法光标    (犹豫中 ....)
*/
/*
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}
*/

/**
 * 移除 Firefox 3+ 的内外边距
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}


/**
 * 恢复聚焦样式规则
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* 为可拖动元素添加拖动光标
*/
[draggable="true"] {
  cursor: move;
}

/**
 * 1. 修正 Edge,IE,Firefox 文本包裹问题.
 * 2. 修正 `legend` 元素 颜色继承,行高继承问题 [IE 6-9 中颜色不继承]
 * 3. 清除默认填充
 */
legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 * or width: 100%; */
  white-space: normal; /* 1 [中文字体不换行问题] */
  color: inherit; /* 2 */
  line-height: inherit; /* 2 */
  padding: 0; /* 3 or padding-left: 0; */
}

/**
 * 1. 移除 IE 默认垂直滚动条 [ IE 6-11 ]
 * 2. 禁止水平拖动 [ 防止破坏布局 ]
 */
textarea {
  overflow: auto;
  resize: vertical;
}

/**
 * 1. 移除 IE 以下默认内边距 [IE 8-10]
 */
[type="checkbox"], [type="radio"] {
  padding: 0; /* 1 */
}

/**
 * 修正 Chrome 「cursor」 样式 [Correct the cursor style of increment and decrement buttons in Chrome]
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. 修正 Safari, Chrome 的 appearance 属性被设置为 searchfield
 * 2. 修正 Safari 「outline」样式
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * 1. 移除 macOS 中 Chrome 和 Safari 搜索框内边距
 * 2. 隐藏 macOS 中 Chrome 和 Safari 清除按钮
 */
[type="search"]::-webkit-search-cancel-button, /* 1 */
[type="search"]::-webkit-search-decoration  /* 2 */ {
  -webkit-appearance: none;
}

/**
* 修正 Chrome option 中文字无法显示的问题 [Chrome 30 . 2013 year version]
*/
select:disabled option:checked, option:disabled:checked {
  color: #d2d2d2;
}