
h1 {
  font-size: 32px;
  font-weight: 600
}

h2 {
  font-size: 24px;
  font-weight: 600
}

h3 {
  font-size: 20px;
  font-weight: 600
}

h4 {
  font-size: 16px;
  font-weight: 600
}

h5 {
  font-size: 14px;
  font-weight: 600
}

h6 {
  font-size: 12px;
  font-weight: 600
}



.h1 {
  font-size: 26px !important
}

@media (min-width: 768px) {
  .h1 {
    font-size: 32px !important
  }
}

.h2 {
  font-size: 22px !important
}

@media (min-width: 768px) {
  .h2 {
    font-size: 24px !important
  }
}

.h3 {
  font-size: 18px !important
}

@media (min-width: 768px) {
  .h3 {
    font-size: 20px !important
  }
}

.h4 {
  font-size: 16px !important
}

@media (min-width: 768px) {
  .h4 {
    font-size: 16px !important
  }
}

.h5 {
  font-size: 14px !important
}

.h6 {
  font-size: 12px !important
}

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 600 !important
}

