/*! backon.css v1.5.0 | MIT License | https://github.com/cmp-cc/backon.css | 基于 normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. 字体采用系统默认字体. [平台兼容优先, 省流量, 自行覆盖. arial 具备更好的广泛性和通用性]
 *       候选字体: font-family: "Helvetica Neue", Helvetica, arial, sans-serif ; Helvetica 字体设计质量优于 arial
 * 2. 修复盒模型缺陷
 * 3. 防止在 Window Phone(IE) 和 IOS 横屏字号变化. [竖屏14px, 横屏变化为20px, text-size-adjust:100% 统一字体大小]
                   https://developer.mozilla.org/en-US/docs/Web/CSS/text-size-adjust
 * 4. 修复IE10 滚动条悬浮问题 [滚动条不占用边距]
             info: http://stackoverflow.com/questions/17045132/scrollbar-overlay-in-ie10-how-do-you-stop-that?noredirect=1&lq=1
 * 5. iphone/android 点击链接时，出现闪烁粉色颜色bug
 */
html {
  font-family: arial,sans-serif;     /* 1 */
  -moz-box-sizing: border-box;       /* 2 */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;      /* 3 */
  -webkit-text-size-adjust: 100%;  /* 3 */
  -ms-overflow-style: scrollbar;   /* 4 */
  -webkit-tap-highlight-color: transparent; /* 5 */
}

*, *::before, *::after {           /* 2 * 添加前置或后置元素，请使用`伪元素`而非`伪类`. */
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

/* Sections 统一浏览器边距 [ 不盲目设置，仅对需要添加元素设置]
   ========================================================================== */

/**
* 1. 统一基础样式     [自行覆盖]
*/
body {
  margin: 0;             /*  边距 */
  font-size: 14px;       /*  字号 */
  line-height: 1.5;      /*  行高 ,   多数浏览器默认行高为 1.15 */
  color: #333;           /*  颜色 */
  background-color: #fff;/*  背景 */
}

/**
*   1. 清除默认边距
*   2. 统一样式
*/
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;        /* 1 */
  margin-bottom: 0;     /* 1 */
  font-weight: 500;     /* 2 */
  line-height: 1.1;     /* 2 */
  color: inherit;       /* 2 */
  font-family: inherit; /* 2 */
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 30px;
  
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 12px;
}

dd {
  margin-left: 0;
}

figure,blockquote {
  margin: 0;
}
menu {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

input,textarea {
  padding: 0;
}

p, pre, dl {
  margin-top: 0;
  margin-bottom: 0;
}

td, th {
  padding: 0;
  text-align: left;  /* 统一默认左对齐 */
}

/**
   1. IE 9 以下不识别HTML 5 元素 [不识别元素默认为inline]
   2. IE 10/11 details 定义为 block 的元素
 */
article, aside, footer, header, nav, section,
figcaption, figure, main, menu, details {
  display: block;
}

/*
 *  修正 summary 元素 display 为 list-item
 */
summary {
  display: list-item;
}

/**
 * 1. 修正 IE template 元素不可见.       [ template 模板标签, 应用于HTML 模板页面开发, 通过JS渲染，不显示于页面 ]
 * 2. 修正 IE 10 以下 [hidden] 为不可见
 */
template /* 1 */,[hidden] /* 2 */ {
  display: none;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. 统一 box-sizing 为 content-box [Firefox 差异]
 * 2. 统一 默认样式, 解决不同浏览器之间的样式差异
 *    2.1、 修正越界问题 [ 除Edge/IE 为`hidden`, 其他浏览器均为`visible`, `visible`属性会导致越界 ]
 *    2.2、 修正不同浏览器之间的样式差异
 * 3. 默认 清除浮动
 */
hr {
  -webkit-box-sizing: content-box; /* 1 */
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: hidden;  /* 2.1 */
  background: transparent; /* 2.2 */
  border: 0;               /* 2.2 */
  border-bottom: 1px solid #ccc; /* 2.2 */
  padding: 0 ; /* 2.2  校验中.... */
}

hr::before {
  display: table;
  content: '';
}

hr::after {
  display: table;
  clear: both;
  content: '';
}


/* Text-level semantics
   ========================================================================== */

/**
 * 1. 移除 IE 10 点击链接时的灰色背景 (统一默认透明)
 * 2. 修复 IOS 8+ 和 Safari 8+ 显示为下划线 [默认为：空白间隔下划线]
 *         info: https://developer.mozilla.org/zh-CN/docs/Web/CSS/text-decoration-skip
 * 3. 移除 默认链接下划线
 */
a {
  background-color: transparent; /* 1 */
  -webkit-text-decoration-skip: objects; /* 2 */
  text-decoration: none;         /* 3 */
}

/**
 * 1. 移除(点击、悬浮)状态时的聚焦框
 * 2. 移除悬浮状态是下划线
 * 3. 统一聚焦样式 (暂保留，并不是必需品)
 */
a:active {
  outline-width: 0;
  background-color: transparent; /* delete IE10 点击出发后灰色背景 */
}
a:hover {
  outline-width: 0;
  text-decoration: none;
}

/* 是否真的需要保留 悬浮下划线 and active 下划线 .  校验中....
a:hover, a:active {
  text-decoration: underline
}
*/

a:focus {
  outline: 1px dotted;
}
/**
* [实际开发中, 通常会使用 `a` 标签 模拟 `button` 避免显示聚焦样式]
*/
a:not([href]):focus, a:not([href]):hover {
  color: inherit;
  outline: 0;
}

/**
*  取消默认下划线 [ ins 表示修正，一般配合 del 使用. 请自定义修正样式 ]
*/
ins {
  text-decoration: none;
}


/**
 * Android 4.3 以下添加正确的样式.    [ 默认斜体 ]
 */
dfn {
  font-style: italic;
}


/**
 * 1. 移除 Firefox 39 以下底部边框
 * 2. 移除下划线修饰 [ 请自定义修饰符，或 语义样式 ]
 *
 * info: https://bugs.chromium.org/p/chromium/issues/detail?id=480213
 */
abbr {
  border-bottom: none; /* 1 */
  text-decoration: none; /* 2 */
}

/*
* 明确语义，添加语义问号光标.
*/
abbr[title], acronym[title] , dfn[title] {
  cursor: help;
}


/**
 * 防止 Safari 6 重复规则 `bolder`
 */
b, strong {
  font-weight: inherit;
}

/**
 * 添加正确的字体 Chrome, Edge, and Safari.
 */
b, strong, dt/* dt 表示列表项,真实语义为粗体 */ {
  font-weight: 600;
}

/**
 * 1. 修正字体显示与缩放。 [ 系统字体优先 ]
 * 2. 确保所有浏览器字体显示正常 [ 通过`em`等比 ]
 * 3. 统一样式显示
 */
code, kbd, samp, pre {
  font-family: Consolas /* window */ , "Liberation Mono" /*window */,  Menlo /* mac*/ , Monaco/* mac */, Courier New /* win7 */, monospace;
  font-size: 1em; /* 2 */
}

code {
  color: #bd4147;
  background-color: #eff0f1
}

kbd {
  padding: 0;
  font-size: 100%;
  font-weight: bold;
}

/**
 * 1. ie 8 max-height　异常
 *      info: http://stackoverflow.com/questions/7707/ie8-overflowauto-with-max-height/881597#881597
 */
pre {
  overflow: auto;   /* 1 or [ max-height: none\9 ] */
  color: inherit;
  background-color: transparent;
  
  word-break: break-all;
  word-wrap: break-word;
}


/**
 * 修正 IE9 以下显示正确的背景和字体颜色   [ 这里统一所有浏览器为荧光色 (可选)]
 */
mark {
  background-color: #d6e7ff;  /* 浅度荧光色 */
  color: #000;
}

/**
 * 不使用[%、em、rem ] 重置small 原因如下：
 *   1. 当html/body设置字号小于15px时, `small` 取值[80%/.8em/.8rem] 导致 chrome 与 其他浏览器字号显示不一致。
 *                    chrome 最小字体为12px.
 *   2.中文字号小于12 不易阅读
 */
small {
  font-size: 12px;
}

/**
 * 防止[sub] 和 [sup] 影响行高,作用于所有浏览器
 */
sub, sup {
  font-size: 75%;           /*  Specified in % so that the sup/sup is the right size relative to the surrounding text */
  line-height: 0;           /*  Zero out the line-height so that it doesn't interfere with the positioning that follows */
  position: relative;       /*  Where the magic happens: makes all browsers position the sup/sup properly, relative to the surrounding text */
  vertical-align: baseline; /*  Note that if you're using Eric Meyer's reset.css, this is already set and you can remove this rule */
}

sub {
  bottom: -.25em;  /* Move the subscripted text down, but only half as far down as the superscript moved up */
}

sup {
  top: -.5em;  /* Move the superscripted text up */
}

/* Embedded content
   ========================================================================== */

/**
 * 修正IE 9 以下 display 不为 inline-block.
 */
audio, video ,canvas, output{
  display: inline-block;
}

/**
 * 1. 修正 IE 9 以下 display 样式 [未定义元素默认为 inline-block]
 * 2. 修正垂直对齐 [Chrome, Firefox, and Opera 默认值不一致]
 */
progress {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * 修正 IOS 4-7 display 样式. [ 没有controls属性时,元素显示出来 ]
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * 1. 移除 IE10 以下默认边框
 * 2. 支持响应式 [自适应]
 * 3. 修正 IE8 图片消失bug [设置max-width:100%, ie8 下图片消失了？]
 *        dome： http://www.456bereastreet.com/lab/img-max-width/
 * 4. 确保不指定[height] 保持等比缩放 [避免只指定width 导致图片变形]
 * 5. 去除图片底部空隙 [ IE 8以下出现，现代浏览器都修复, next update delete, backon.css support ie8+]
 */
img {
  border-style: none; /* 1 */
  max-width: 100%; /* 2 */
  width: auto\9;   /* 3 * \9 是 Css hack， 它表示只作用于 Internet Explorer 7 - 9 */
  height: auto;    /* 4 */
  vertical-align: bottom; /* 5 */
}

/**
* 取消默认嵌套引用
*/
blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}


/**
* 合并单元格边框，重置内边距, 默认透明背景
*/
table {
  border-collapse: collapse;
  border-spacing: 0;
  background-color: transparent;
}

/**
*  1. 取消列表样式 [ 请单独设置 ]
*  2. 清除边距
*/
ul, ol {
  list-style-type: none; /* 1 */
  padding-left: 0;  /* 2 */
  margin-top: 0;    /* 2 */
  margin-bottom: 0; /* 2 */
}


/**
 * 修正 IE9 [overflow] 异常
 */
svg:not(:root) {
  overflow: hidden;
}

/* Forms
   ========================================================================== */

/**
 * 1. 修正浏览器中字体不继承问题
 * 2. 移除 Firefox 和 Safari 默认外边距.
 */
button, input, optgroup, select, textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 , [ IE11设置 input{line-height: inherit;} 无效, 这里统一行高 ] */
  margin: 0; /* 2 */
}

/**
 * 修正 IE 和 Edge overflow 为 visible
 */
button, input { /* 1 */
  overflow: visible;
}

/**
 * 修正 button select text-transform 属性继承不一致    [IE 8-11、Firefox、Opera]
 * 所有其他表单控制元素不被继承 text-transform 值
 *    info : http://tjvantoll.com/2012/07/10/default-browser-handling-of-the-css-text-transform-property/
 */
button, select { /* 1 */
  text-transform: none;
}


/**
 * 1. 避免 WebKit bug 破坏原生的 `audio` 和 `video`的控制器  [ 出现在Android 4.0.* ]
 * 2. 修正在IOS 和 Safari「input」 无法点击问题  [ 不可点击的样式类型 ]
 * 3. 统一点击类型「input」为光标样式 [ 默认为 : default ]
 */
button, html [type="button"], /* 1 */
[type="reset"], [type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/**
* label 元素赋予手型光标,inline-block
*/
label {
  cursor: pointer;
  display: inline-block;
}

/**
* 重置按钮禁用时光标样式 [ 默认为: pointer ]
*/
button[disabled], input[disabled] {
  cursor: default;
}

/*
* radio/checkbox 不可选时，显示非法光标    (犹豫中 ....)
*/
input[type="radio"]:disabled,
input[type="checkbox"]:disabled {
  cursor: not-allowed;
}


/**
 * 移除 Firefox 3+ 的内外边距
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * 恢复聚焦样式规则
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
* 为可拖动元素添加拖动光标
*/
[draggable="true"] {
  cursor: move;
}

/**
 * 定义一致的边框、外边距和内边距
 */
fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

/**
 * 1. 修正 Edge,IE,Firefox 文本包裹问题.
 * 2. 修正 `fieldset` 元素 颜色继承,行高继承问题 [IE 6-9 中颜色不继承]
 * 3. 清除默认填充
 */
legend {
  display: table; /* 1 */
  max-width: 100%; /* 1 * or or width: 100%; */
  white-space: normal; /* 1 [中文字体不换行问题] */
  color: inherit; /* 2 */
  line-height: inherit; /* 2 */
  padding: 0; /* 3 or padding-left: 0; * /
  
  /*box-sizing: border-box;*/  /* 校验中.... */
}

/**
 * 1. 移除 IE 默认垂直滚动条 [ IE 6-11 ]
 * 2. 禁止水平拖动 [ 防止破坏布局 ]
 */
textarea {
  overflow: auto;
  resize: vertical;
}

/**
 * 1. 移除 IE 以下默认内边距 [IE 8-10]
 * 2. 修正 box sizing [IE 8-10 为 content-box] [ global static default ]
 */
[type="checkbox"], [type="radio"] {
  padding: 0; /* 1 */
}

/**
 * 修正 Chrome 「cursor」 样式 [Correct the cursor style of increment and decrement buttons in Chrome]
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. 修正 Safari, Chrome 的 appearance 属性被设置为 searchfield
 * 2. 修正 Safari 「outline」样式
 */
[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * 1. 移除 macOS 中 Chrome 和 Safari 搜索框内边距
 * 2. 隐藏 macOS 中 Chrome 和 Safari 清除按钮
 */
[type="search"]::-webkit-search-cancel-button, /* 1 */
[type="search"]::-webkit-search-decoration  /* 2 */ {
  -webkit-appearance: none;
}

/**
 * 1. 修正在IOS 和 Safari 无法点击问题  [ 不可点击的样式类型 ]
 * 2. 修正 Safari 字体 `inherit`
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/**
* 修正 Chrome option 中文字无法显示的问题 [Chrome 30 . 2013 year version]
*/
select:disabled option:checked, option:disabled:checked {
  color: #d2d2d2;
}

/*
backon.css 不建议使用的元素标签

* marquee
* applet
* basefont
* dir
* hgroup
* dialog
* center
* font
* isindex
* s
* strike
* u
* xmp
*
*/
