.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.overflow {
  overflow: hidden
}

.invisible {
  visibility: hidden
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.affix {
  position: fixed;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0
}

.min-z-index {
  z-index: -1;
}

.max-z-index {
  z-index: 999;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.text-right{
  text-align: right !important;
}

.text-left{
  text-align: left !important;
}

.text-center{
  text-align: center !important;
}

.wordwrap {
  word-break: break-all;
  word-wrap: break-word
}

.single-row-point {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}